@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* Custom Scrollbar for the email list */
#alertemails {
    max-height: 200px;
    overflow-y: auto;
}

#alertemails::-webkit-scrollbar {
    width: 6px;
}

#alertemails::-webkit-scrollbar-track {
    background: transparent;
}

#alertemails::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 20px;
}

.dark #alertemails::-webkit-scrollbar-thumb {
    background-color: #475569;
}

/* Smooth Transition for Theme Toggle */
* {
    transition: background-color 0.3s ease, border-color 0.3s ease;
}